/a
/AndroidStudioProjects.rar
/lab_12_ex_1
/lab_12_ex_2
/lab_12_zad_1
/lab_13_ex_1
/lab_13_ex_1_1
/lab_13_ex_2
/lab_13_zad_2
/lab_13_zad_22
/MyApplication
/MyApplication2
/MyApplication3
/MyApplication4
/phone_acc_test_1
/zadania_2_3_4.zip