/a
/AndroidStudioProjects.rar
/lab_10_ex_1
/lab_10_ex_12
/lab_10_ex_1_test_2_phone
/lab_10_ex_2
/lab_10_ex_2_1
/lab_10_ex_3
/lab_10_zad_1
/lab_10_zad_2
/lab_11_ex_1
/lab_11_zad_1
/lab_12_ex_1
/lab_12_ex_2
/lab_12_zad_1
/lab_13_ex_1
/lab_13_ex_1_1
/lab_13_ex_2
/lab_13_zad_2
/lab_13_zad_22
/lab_2_3
/lab_3_1
/lab_3_z1
/lab_3_z2
/lab_4_ex_1
/lab_4_ex_2
/lab_4_ex_3
/lab_4_ex_3_1
/lab_5_ex_1
/lab_6_ex_1
/lab_6_ex_1_1
/lab_6_ex_2
/lab_6_zad_1
/lab_7_ex_1
/lab_8_ex_1
/lab_9_ex_1
/lab_9_zad_1
/lab_9_zad_1_test_1
/MyApplication
/MyApplication2
/MyApplication3
/MyApplication4
/phone_acc_test_1
/zadania_2_3_4.zip